<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Miles Website</title>
    <meta name-"viewport" content="width=device-width, initial-scale=1">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/-debug.css" rel="stylesheet">
    <link href="css/article.css" rel="stylesheet">
    <link href="css/article-figure.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type ="text/css">
    <style>
    </style>
  </head>


  <body>
    <% include partial/nav.ejs %>

    <article>
      <h1><a>This is my example text</a></h1>
      <h2>and truly it is glorious</h2>

      <time datetime="12-15-2018">Oct. 15, 2018</time>
      <p>
        <em>what a wonderful day</em> in which we find ourselves. I truly
        and irrefutably believe that this is a day worth remembering if only
        for the fact that it is the day in which I created this webpage. Indeed
        it was October 15, 2018 in which I created this webpage and until I replace
        this text with something else, it shall always be remembered as the day
        in which I put this text in.
      </p>

      <figcaption>
        <p>Random Picture</p>
      </figcaption>
      <figure class="size2">
        <img src="../images/img1.jpg">
      </figure>

      <h3>This is also a great day for you</h3>
      <p>
          Up until this point I only talked about how glorious a day it was when
          I created this webpage. But you too must be absolutely estatic to have
          found this webpage which I created. I do not know which day it is for
          you but I highly reccomend that you go to your callendar and mark the
          date so that you never forget when it was that you first saw this glorious
          piece of art that I have created.
      </p>
    </article>

  </body>

</html>
