<html>

<head>
  <title>Create Account</title>
  <link href="../css/register.css" rel="stylesheet" type ="text/css">
  <style>

    td {color: white; font-size: 15px; padding-top: 10;}
  </style>
</head>

<body>
  <% include partial/nav.ejs %>
  <img src="../images/pic3.jpg" class ="bg-image-top">
  <form action="/users/register" method="post">
    <div class="loginbox">
      <img src="../images/avatar.png", class="avatar">
      <h1>Create Account</h1>
      <form>
        <%if(typeof errors != "undefined"){  %>
        <%  var i; %>
        <%  for(i=0; i < errors.length; i++){ %>
          <p1><%= errors[i].msg %></p1><br>
        <%}  %>
        <%}else{ %>
        <%} %>
        <p>Email Address</p>
        <input type="text" name="email" placeholder="Enter Email Address">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password">
        <p>Re-Enter Password</p>
        <input type="password" name="password2" placeholder="Re-Enter Password">
        <input type="submit" name="" value="Create Account"><br>
        <a href="/users/sendreset">Lost your password?</a><br>
        <a href="/users/login">Already have an account?</a>
      </form>
    </div>
  </form>
</body>

</html>
